<div class="social-media-icons">

	<a class="social-header">Let's be Friends</a>

	<a href="http://facebook.com/wpstuffs" target="_blank" rel="nofollow" title="Facebook" class="socialfb">Facebook</a>

	<a href="https://twitter.com/wp_stuffs/" target="_blank" rel="nofollow" title="Twitter" class="socialtw">Twitter</a>

	<a href="https://plus.google.com/u/0/b/111632665869439509422/111632665869439509422" target="_blank" rel="nofollow" title="Google Plus" class="socialgp">Google Plus</a>

	<a href="http://pinterest.com/wpstuffs/" target="_blank" rel="nofollow" title="Pinterest" class="socialpin">Pinterest</a>

	<a href="http://feeds.feedburner.com/Wpstuffs" target="_blank" rel="nofollow" title="RSS" class="socialrss">RSS</a>

</div>